.container__hotel-card {
  border: 3px solid #4a4c4c;
  padding: 20px 0px;
  margin-top: 10px;
  width: 350px;

  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 400px;
  max-height: 300px;
  max-width: 350px;
}


.container__hotel-card:hover {
  cursor: pointer;
}

.title__hotel-card {
  font-size: 20px;
  font-weight: 800;
}
