.container-header {
  width: 100%;
  padding: 20px 0px;
  background-color: #2a2a2c;
  color: #fff;
}

.wrapper-header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.wrapper-header h1:hover {
  cursor: pointer;
  opacity: 0.7;

}

.content-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 10px 0px;
}

.content-header p {
  background-color: #4a4c4c;
  padding: 10px 20px;
  border-radius: 8px;
}

.content-header p:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  background-color: #2a2a2c;
}
