.container__login {
  width: 100%;
  margin-top: 20px; 
}

.wrapper__login {
  width: 345px;
  padding: 50px 0px; 
  margin: 0 auto;
  text-align: center;
  border: 5px solid #2a2a2c; 

}

.wrapper__login a {
  color: #2a2a2c;
}

.content__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.content__login input {
  width: 300px;
  padding: 10px 5px;
}

.container__login button {
  background-color: #4a4c4c;
  padding: 10px 20px;
  color: #fff;
}

.container__login button:hover {
  cursor: pointer;
  opacity: 0.9;
}
