@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&family=Dongle:wght@300&family=Edu+NSW+ACT+Foundation:wght@600&family=Hind+Siliguri&family=Inter:wght@300&family=Jost:ital,wght@0,400;0,500;1,400&family=Karla&family=Montserrat:wght@300;400;500;600&family=Nunito+Sans&family=Poppins:wght@200&family=Press+Start+2P&family=Raleway:wght@300;400;800&family=Roboto:wght@300&family=Sedgwick+Ave&family=Titan+One&family=Xanh+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Xanh Mono", monospace;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
